.workout-log-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  gap: 20px;
}

.title{
  color: #7ac4db;
  font-size: 45px;
  font-weight: bold;
}

.bar{
  display: flex;
  gap: 10px;
}

.button2{
  height: 30px;
  width: 90px;
  background-color: #7ac4db;
  color: white;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
  border-style: none;
}

.button2:hover{
  background-color: #528ea0;
  transition: background-color 0.8s ease;
}