.workout-log-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  gap: 20px;
}

.title{
  color: #7ac4db;
  font-size: 45px;
  font-weight: bold;
}

.bar-log{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.bar{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button2{
  height: 30px;
  width: 90px;
  background-color: #e0eef3;
  color: #7ac4db;
  cursor: pointer;
  font-weight: bold;
  font-size: large;
  border-radius: 3px;
  border-style: none;
}

.button2:hover{
  background-color: #528ea0;
  color: white;
  transition: background-color 0.8s ease, color 0.8s ease;
}