@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e0eef3;
  font-family: "Roboto", "sans-serif";
}

/*
- Align items puts all content in the center
- this class is for the entire to thing
*/
.main-container{
  display: flex;
  flex-direction: column;
}
/*
- this class is for the input box
*/
.input{
  height: 50px;
  width: 300px;
  background-color: #ffffffff;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
  color:#7ac4db;
  text-align: center;
}

.input:focus{
  border-style: none;
  outline: none;
}


/*
- this is for the list items in the workout list
*/
.li{
  margin-top: 10px;
  font-size: 20px;
  color: #528ea0;
  font-weight: bold;
  text-align: center;
}

/*
- this is for the "add" button in the workoutlist 
- cursor pointer makes it to where when the cursor hovers over the button it 
appears as clickable
*/
.button{
  height: 30px;
  width: 60px;
  background-color: #7ac4db;
  color: white;
  font-size: 1.05rem;
  border-style: none;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.button:hover{
  background-color: #528ea0;
  transition: background-color 0.8s ease;
}

.input-and-button{
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}